name: Upload snapshot

on: workflow_dispatch

jobs:
  snapshot:
    runs-on: ubuntu-latest
    environment: release

    steps:
      - name: Repository checkout
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Make Gradle executable
        run: chmod +x gradlew
      - name: Run tests
        run: ./gradlew check
      - name: Upload to Maven Central
        run: ./gradlew :ui:uploadArchives
        env:
          ORG_GRADLE_PROJECT_ossrhUsername: ${{ secrets.ossrhUsername }}
          ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.ossrhPassword }}
